<md-content>
    <md-card md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Invernaderos</span>
                <span class="md-subhead">Ingrese las características que tendrá el producto:</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media" style="height: 100%;">
                    <img src="build/img/logos/invernaderos.jpg" class="md-card-image">
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-content layout-padding>
        <form name="formulario">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Medidas</span>
                        <span class="md-subhead">Ingrese las medidas del producto</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Unidades</label>
                            <input type="text" ng-model="invernadero.medidas.unidades" required disabled>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-select
                            ng-model="invernadero.medidas.tipo"
                            placeholder="tipo de domo"
                            class="md-no-underline"
                            required>
                            <md-option value="piramide">Pirámide</md-option>
                            <md-option value="rectangularTriangular">Rectangular Triangular</md-option>
                            <md-option value="rectangularCircular">Rectangular Circular</md-option>
                        </md-select>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Ancho ({{invernadero.medidas.unidades}})</label>
                            <input type="number" ng-model="invernadero.medidas.ancho" required min="1" max="6">
                        </md-input-container>
                        <md-input-container>
                            <label>Largo ({{invernadero.medidas.unidades}})</label>
                            <input type="number" ng-model="invernadero.medidas.largo" required min="1" max="7">
                        </md-input-container>
                        <md-input-container>
                            <label>Alto ({{invernadero.medidas.unidades}})</label>
                            <input type="number" ng-model="invernadero.medidas.alto" required min="1" max="3">
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Datos de envío</span>
                        <span class="md-subhead">Escriba algunos datos personales</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container>
                        <label>Nombre</label>
                        <input type="text" ng-model="invernadero.datosUsuario.nombre" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Apellidos</label>
                        <input type="text" ng-model="invernadero.datosUsuario.apellidos" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Correo electrónico</label>
                        <input type="email" ng-model="invernadero.datosUsuario.email" required>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <!--<p>{{formulario.$error}}</p>-->
            <div layout-gt-sm="row">
                <md-button class="md-raised md-primary" ng-disabled="formulario.$invalid" ng-click="enviar()">Enviar</md-button>
            </div>
        </form>
    </md-content>
</md-content>
