<div>
    <h2>Computación gráfica - 2016-2</h2>

    <h3>Docente:</h3>
    Miguel Baquero

    <h3>Grupos de trabajo</h3>

    <h4>
        Formaletas
    </h4>
    <ul>
        <li>Andrés Lopez</li>
        <li>Carlos Salazar</li>
        <li>Daniel Aguirre</li>
    </ul>

    <h4>
        Venta de equipos
    </h4>
    <ul>
        <li>David Tellez</li>
        <li>Jorge Bernal</li>
        <li>Norbey Sichaca</li>
    </ul>

    <h4>
        Invernaderos
    </h4>
    <ul>
        <li>Daniel Romero</li>
        <li>Juan Sanchez</li>
        <li>Miguel Guatavita</li>
    </ul>

    <h4>
        Office
    </h4>
    <ul>
        <li>Diego Rojas</li>
        <li>German Guerrero</li>
        <li>Ivan Quiroga</li>
    </ul>

    <h4>
        Página web
    </h4>
    <ul>
        <li>Johan Diaz</li>
        <li>Pedro Rodriguez</li>
        <li>Cesar Galvis</li>
    </ul>

</div>
