<md-content>
    <md-card md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Formaletas</span>
                <span class="md-subhead">Ingrese las características que tendrá el producto:</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media" style="height: 100%;">
                    <img src="build/img/logos/formaletas.jpg" class="md-card-image">
                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-content layout-padding>
        <form name="formulario">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Medidas</span>
                        <span class="md-subhead">Ingrese las medidas del producto</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Unidades</label>
                            <input type="text" ng-model="formaleta.medidas.unidades" disabled required>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Altura ({{formaleta.medidas.unidades}})</label>
                            <input type="number" ng-model="formaleta.medidas.altura" required min="1000" max="5000">
                        </md-input-container>
                        <md-input-container>
                            <label>Diámetro interno ({{formaleta.medidas.unidades}})</label>
                            <input type="number" ng-model="formaleta.medidas.diametroInterno" required min="600" max="3000">
                        </md-input-container>
                        <md-input-container>
                            <label>Altura ranura({{formaleta.medidas.unidades}})</label>
                            <input type="number" ng-model="formaleta.medidas.alturaRanura" required min="100" max="300">
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Opciones</span>
                        <span class="md-subhead">Personalice su producto</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div
                        layout-gt-sm="row"
                        layout-align="space-between center"
                        ng-repeat="dato in listaDatos">
                        <md-switch ng-model="formaleta.opciones[dato.alias].activado" aria-label="switch de personalizacion de formaleta">
                        </md-switch>
                        {{dato.nombre}}
                        <md-select
                            ng-if="dato.lista"
                            ng-disabled="!formaleta.opciones[dato.alias].activado"
                            ng-model="formaleta.opciones[dato.alias].texto"
                            placeholder="referencia"
                            class="md-no-underline"
                            ng-required="formaleta.opciones[dato.alias].activado">
                            <md-option
                                ng-repeat="ref in listaMedidas"
                                value="{{ref.nombre}}">
                                {{ref.nombre}}
                            </md-option>
                        </md-select>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Datos de envío</span>
                        <span class="md-subhead">Escriba algunos datos personales</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container>
                        <label>Nombre</label>
                        <input type="text" ng-model="formaleta.datosUsuario.nombre" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Apellidos</label>
                        <input type="text" ng-model="formaleta.datosUsuario.apellidos" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Correo electrónico</label>
                        <input type="email" ng-model="formaleta.datosUsuario.email" required>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <!--<p>{{formulario.$error}}</p>-->
            <div layout-gt-sm="row">
                <md-button
                    class="md-raised md-primary"
                    ng-disabled="formulario.$invalid"
                    ng-click="enviar()">
                    Enviar
                </md-button>
            </div>
        </form>
    </md-content>
</md-content>
