<md-content>
    <h1>Formaletas</h1>
    <p>Ingrese las características que tendrá el producto:</p>
    <md-content layout-padding>
        <form name="formulario">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Medidas</span>
                        <span class="md-subhead">Ingrese las medidas del producto</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Altura (mm)</label>
                            <input type="number" ng-model="formaleta.altura" required min="1">
                        </md-input-container>
                        <md-input-container>
                            <label>Diámetro interno (mm)</label>
                            <input type="number" ng-model="formaleta.diametroInterno" required min="1">
                        </md-input-container>
                        <md-input-container>
                            <label>Altura ranura(mm)</label>
                            <input type="number" ng-model="formaleta.alturaRanura" required min="1">
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Opciones</span>
                        <span class="md-subhead">Personalice su producto</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div
                        layout-gt-sm="row"
                        layout-align="space-between center"
                        ng-repeat="dato in listaDatos">
                        <md-switch ng-model="formaleta[dato.alias].activado" aria-label="switch de personalizacion de formaleta">
                        </md-switch>
                        {{dato.nombre}}
                        <md-select
                            ng-if="dato.lista"
                            ng-disabled="!formaleta[dato.alias].activado"
                            ng-model="formaleta[dato.alias].texto"
                            placeholder="referencia"
                            class="md-no-underline"
                            ng-required="formaleta[dato.alias].activado">
                            <md-option
                                ng-repeat="ref in listaMedidas"
                                value="{{ref.nombre}}">
                                {{ref.nombre}}
                            </md-option>
                        </md-select>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Datos de envío</span>
                        <span class="md-subhead">Escriba algunos datos personales</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container>
                        <label>Nombre</label>
                        <input type="text" ng-model="formaleta.datosUsuario.nombre" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Apellidos</label>
                        <input type="text" ng-model="formaleta.datosUsuario.apellidos" required>
                    </md-input-container>
                </md-card-content>
                <md-card-content>
                    <md-input-container>
                        <label>Correo electrónico</label>
                        <input type="email" ng-model="formaleta.datosUsuario.email" required>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <!--<p>{{formulario.$error}}</p>-->
            <div layout-gt-sm="row">
                <md-button
                    class="md-raised md-primary"
                    ng-disabled="formulario.$invalid"
                    ng-click="enviar()">
                    Enviar
                </md-button>
            </div>
        </form>
    </md-content>
</md-content>
