<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card md-theme-watch>
                <img src="build/img/photos/maquinaria.jpg" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Venta de Maquinaria</span>
                        <span class="md-subhead">Muestra de información detallada para venta de maquinaria</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="http://speedmachine.tk/" target="_blank">Ver página</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <img src="build/img/photos/invernaderos.jpg" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Invernaderos</span>
                        <span class="md-subhead">Venta de invernaderos según las necesidades del cliente</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="#/webCG/grupos/invernaderos">Ver página</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <img src="build/img/photos/formaletas.jpg" class="md-card-image">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Formaletas</span>
                        <span class="md-subhead">Venta de formaletas personalizada</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="#/webCG/grupos/formaletas">Ver página</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>
