<div ng-controller="toolbarCtrl" layout="column" style="height:100%;" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menú</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button href="#/webCG/inicio" class="md-primary">
                Inicio
                </md-button>
                <md-button href="#/webCG/acerca" class="md-primary">
                Acerca de
                </md-button>
                <!--
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
                </md-button>
                <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
                </p>
                -->
            </md-content>
        </md-sidenav>

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-sm="$mdMedia('gt-md')">
                    <md-icon md-svg-icon="dist/img/icons/menu.svg" hide-gt-md></md-icon>
                </md-button>
                <h2><span>Bienvenido</span></h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="dist/img/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
            <div style="height: 100%;">
                <md-content flex layout-padding style="height: 100%;">
                    <div id="main">
                        <!-- Aquí inyectamos las vistas -->
                        <div ui-view="menuContent"></div>
                    </div>
                </md-content>
            </div>
        </md-toolbar>
    </section>
</div>
