<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menú</h1>
    </md-toolbar>
    <md-content layout-padding flex ng-controller="toolbarCtrl">

        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Páginas</md-subheader>
            <md-list-item class="secondary-button-padding" ng-click="close()" href="#/webCG/inicio">
                <md-icon md-svg-icon="build/img/icons/home.svg"></md-icon>
                <p>Inicio</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="close()" href="#/webCG/grupos">
                <md-icon md-svg-icon="build/img/icons/group.svg"></md-icon>
                <p>Grupos</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="close()" href="#/webCG/acerca">
                <md-icon md-svg-icon="build/img/icons/info.svg"></md-icon>
                <p>Acerca de</p>
            </md-list-item>
        </md-list>
        <!--
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
        </p>
        -->
    </md-content>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Toggle Menu" ng-click="toggleLeft()" hide-gt-sm="$mdMedia('gt-md')">
                <md-icon md-svg-icon="build/img/icons/menu.svg"></md-icon>
            </md-button>
            <h2><span>Computación Gráfica</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="build/img/icons/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" flex md-scroll-y>
        <md-content flex layout-padding>
            <div id="main" class="docs-ng-view" ng-view layout-padding flex="noshrink">
                <!-- Aquí inyectamos las vistas -->
                <div ui-view="contenidoMenu" class="doc-content" ng-view></div>
            </div>
        </md-content>
    </md-content>
</div>
